// Compass Mixins importieren
@import "compass";

$white: #fff;
$black: #000;
$grey1: #f6f6f6;
$grey2: #ededed;
$grey3: #666666;
$grey4: #ccc;

@mixin roundedframes {
  display: inline-block;
  line-height: 0;
  text-align: center;
  padding: 10px;
  margin: 0 10px 10px 0;
  background-color: $white;
  @include filter-gradient($white, $grey2, vertical);
  @include background-image(linear-gradient($white 0%,$grey1 47%,$grey2 100%));
  @include border-radius(10px);
}

.tx-stsimplegallery-pi1 {

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: $grey3;
  }

  h1 {
    text-transform: uppercase;
  }

  // Randomitems
  .randomitem {
    border: 1px solid $grey4;
    display: inline-block;
    line-height: 0;
    margin: 0 10px 10px 0;

    &:nth-child(3n+1) {
      margin: 0 0 10px 0;
    }
  }

  .togallery {
    display: block;
  }

  // Overviewitems
  .overviewitem {
    @include roundedframes;
    &:nth-child(2n+1) {
      margin: 0 0 10px 0;
    }
  }

  .back {
    display: block;
    margin: 10px 0;
  }

  figure {
    margin: 0;
    display: inline-block;
    @include roundedframes;
    &:nth-of-type(3n) {
      margin: 0 0 10px 0;
    }
  }

  figcaption {
    line-height: 1.4em;
    margin: 5px 0 0;
  }

  // listviewitem
  .listviewitem {
    display: inline-block;
    line-height: 0;
  }
}
